<?xml version="1.0"?>
<!--
Web.config file for Calendario_LIcitacao.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=10.27.0.9;Port=5432;User Id=postgres;Password=postgres;Database=licitar;Encoding=UNICODE" />
  </connectionStrings>
  <appSettings>
    <add key="IframeName" value="frmteste1" />
    <add key="PageName" value="http://epge.pge.ce.gov.br/LicitaCam/servico-licitacoes-aovivo-lista.php" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>